@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
html{position: relative;min-height: 100%;}
body {margin-bottom: 70px; /* Margin bottom by footer height */}
a{color:#323232;}
hr{background-color: #ccc}
.footer{position: absolute;bottom: 0;width: 100%;height: 70px;line-height: 70px;background-color: #f5f5f5;border-top:1px solid lightgray;}
.headline{font-size: 1.5em;color: #323232;text-decoration: none;}
.headline:hover{color:#000;}
#open_camera{border-radius: .3em;outline: none;cursor: pointer;display: block;text-align: center;width: 300px;height: 300px;background: #fafafa;margin: 0px auto;box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;border-color: #323232;border: 1px dashed;}
#open_camera:hover > .fa-camera{color:#000;}
.fa-camera{position: relative;top: 33%;left: 2%;font-size: 5em;color: #323232;}
.fa-check-circle{position: relative;top: 33%;left: 2%;font-size: 5em;color:white;}
#upload_btn{display: none; color:#323232; background: #fff;font-size: 1.3em;border: 1px solid lightgray;border-radius: .3em;padding: .5em;margin-top:2em;outline: none;text-align: center;width: 100%;  max-width: 300px;margin: 0px auto;}
#upload_btn:hover{background:#fafafa}
#bio_btn, #back_btn{font-size: 1.5em;text-align: center;text-decoration: none;}
input[type='file'] {display: none;opacity:0}

/** mobile styles **/
@media only screen and (max-width: 600px) {
    #open_camera{width: 200px;height:200px;margin-top: 5em;}
    .fa-camera{font-size:4em;}
}